#TOP LEVEL .ORG, .COM
 
TOP_LEVEL_DOMAIN=:3000
DOMAIN_NAME=localhost

SERVER_NAME=${DOMAIN_NAME}${TOP_LEVEL_DOMAIN}
# DEPENDING ON HOW YOU ARE DEPLOYING THIS VALUE MAY NEED TO CHANGE
# WHEN USING A CONTAINER KEEPING IT THIS WAY SEEMS TO WORK WELL
# IF DEPLOYING USING PM2 AND NODE YOU WILL LIKELY NEED TO REMOVE THE PORT NUMBER
NEXT_PUBLIC_BASE_URL=http://${DOMAIN_NAME}${TOP_LEVEL_DOMAIN}
NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_BASE_URL}
NEXT_PRIVATE_DEBUG_CACHE=0

#USED FOR PUBLIC ENDPOINT VERIFICATION
PRIVATE_INTERNAL_API_KEY=

ADMIN_USER_EMAIL=


NEXT_PUBLIC_ENVIRONMENT=development
#
# BETTER AUTH CONFIGURATION 
# BETTER_AUTH_SECRET = RSA256 STRING

BETTER_AUTH_URL=http://${DOMAIN_NAME}${TOP_LEVEL_DOMAIN}
BETTER_AUTH_SECRET=

TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3002
#
# DATABASE SETTINGS 
# 

DATABASE_NAME=meeting_room_scheduling
DATABASE_HOST=localhost
DATABASE_PORT=5432

DATABASE_USER_USERNAME=prisma
DATABASE_USER_PASSWORD=prisma

DATABASE_ADMIN_USERNAME=postgres
DATABASE_ADMIN_PASSWORD=postgres



DATABASE_URL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

DATABASE_URL_ADMIN=postgresql://${DATABASE_ADMIN_USERNAME}:${DATABASE_ADMIN_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

CONTAINER_DB_URL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_USERNAME}@postgres:${DATABASE_PORT}/${DATABASE_NAME}
#
# OAUTH PROVIDERS
#

GITHUB_ID=4444
GITHUB_SECRET=5555

AZURE_AD_CLIENT_ID=1111
AZURE_AD_CLIENT_SECRET=2222
AZURE_AD_TENANT_ID=3333

#
# DUCKDNS & LETS ENCRYPT SETTINGS
# 

USE_DUCKDNS_WITH_LETS_ENCRYPT=0


DUCKDNS_TOKEN=
EMAIL=

#
# LINKED SERVER SETTINGS
# 

LINKED_SERVER=0
LINKED_USERNAME=
LINKED_PASSWORD=

LINKED_DATABASE_NAME=
LINKED_SERVER_NAME=

