BETTER_AUTH_URL=http://localhost:3000
NEXTAPP_URL=http://localhost:3000

BETTER_AUTH_SECRET=

DATABASE_USER_USERNAME=
DATABASE_USER_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

LINKED_SERVER=1
LINKED_USERNAME=
LINKED_PASSWORD=

LINKED_DATABASE_NAME=
LINKED_SERVER_NAME=

DATABASE_URL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/meeting_room_scheduling

DATABASE_ADMIN_USERNAME=
DATABASE_ADMIN_PASSWORD=

DATABASE_URL_ADMIN=postgresql://${DATABASE_ADMIN_USERNAME}:${DATABASE_ADMIN_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/meeting_room_scheduling

GITHUB_ID=
GITHUB_SECRET=

AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

NEXT_PRIVATE_DEBUG_CACHE=0


