# DEPENDING ON HOW YOU ARE DEPLOYING THIS VALUE MAY NEED TO CHANGE
# WHEN USING A CONTAINER KEEPING IT THIS WAY SEEMS TO WORK WELL
# IF DEPLOYING USING PM2 AND NODE YOU WILL LIKELY NEED TO REMOVE THE PORT NUMBER
NEXT_PUBLIC_BASE_URL=https://${DOMAIN_NAME}
NEXT_PRIVATE_DEBUG_CACHE=0

#
# BETTER AUTH CONFIGURATION 
# BETTER_AUTH_SECRET = RSA256 STRING

BETTER_AUTH_URL=${NEXT_PUBLIC_BASE_URL}
BETTER_AUTH_SECRET=


#
# DATABASE SETTINGS 
# 

ADMIN_USER_EMAIL=

DATABASE_NAME=meeting_room_scheduling
DATABASE_HOST=postgres
DATABASE_PORT=5432

DATABASE_USER_USERNAME=
DATABASE_USER_PASSWORD=

DATABASE_ADMIN_USERNAME=
DATABASE_ADMIN_PASSWORD=

DATABASE_URL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
DATABASE_URL_ADMIN=postgresql://${DATABASE_ADMIN_USERNAME}:${DATABASE_ADMIN_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

CONTAINER_DB_URL=postgresql://${DATABASE_USER_USERNAME}:${DATABASE_USER_PASSWORD}@postgres:${DATABASE_PORT}/${DATABASE_NAME}
#
# OAUTH PROVIDERS
#

GITHUB_ID=
GITHUB_SECRET=

AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

#
# DUCKDNS & LETS ENCRYPT SETTINGS
# 

USE_DUCKDNS_WITH_LETS_ENCRYPT=0

DUCKDNS_DOMAIN=${DOMAIN_NAME}${TOP_LEVEL_DOMAIN}
DUCKDNS_TOKEN=
EMAIL=

#
# LINKED SERVER SETTINGS
# 

LINKED_SERVER=0
LINKED_USERNAME=
LINKED_PASSWORD=

LINKED_DATABASE_NAME=
LINKED_SERVER_NAME=